.login{
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    border-radius: 1vw;
    padding: 0.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: aqua 0px solid;
    display: block;
    margin: 1vw auto 0 auto;
    }
    
    .load{
        background-color: rgb(40, 40, 40);
    color: whitesmoke;
    border-radius: 1vw;
    padding: 0.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: greenyellow 0px solid;
    display: block;
    margin: 1vw auto 0 auto;
    }
    
    .google_button{
        display: flex;
    }
    
    .neumorphic {
        box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.5),-12px -12px 24px 0 rgba(255, 255, 255, 0.15);
        border-radius: 40px;
        overflow: hidden;
        padding: 0.5vw 3vw 0.8vw 3vw;
        display: flex;
      }
    
      .neumorphic:hover {
        box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.5),inset -6px -6px 10px 0 rgba(255, 255, 255, 0.15);
      }
    
      .variation{
        justify-content: space-around;
        align-items: center;
      }
    
      .variation span {
        display: block;
        padding-bottom: 0.5vw;
        position: relative;
        font-size: 1.2vw;
      }
    
      .variation span::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 0.25vw;
        border-radius: 1vw;
        width: 50%;
        margin: 0 auto;
        background-color: whitesmoke;
      }
    
    .card{
        background: rgba( 255, 255, 255, 0.2 );
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin: 3vw 0 0 0;
        padding: 1vw;
    }
    
    .bg_class{
        padding: 2vw 7vw 0 7vw;
        background-image: linear-gradient(290deg, #08e1ae 0%, #f6c412 75%);
        text-align: center;
    }
    
    .card_classroom_complete{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        padding-bottom: 2vw;
    }

    .hover_button_classroom {
        padding: 0.5vw 2vw 0.5vw 2vw;
        border-radius: 4px;
        text-decoration: none;
        overflow: hidden;
        margin: 0.5vw;
        font-family: "Roboto", sans-serif;
        filter: hue-rotate(0deg);
        border: 0.2vw solid rgb(127, 240, 255);
        transition: all 0.1s linear;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        vertical-align: middle;
    }
    
    .button_bg{
       text-align: center;
    }
    
    .hover_button_classroom:hover {
       border: 1px solid transparent;
       background-color: transparent;
       font-size: 20px;
       letter-spacing: 2px;
    }
    
    .announcement_a{
       color: orangered;
    }
    
    @keyframes color_trans {
       0% {color:orangered;}
       50%{color: green;}
       100%{color: orangered;}
    }
    
    .announcement_a:hover{
       animation: color_trans;
       animation-duration: 4s;
       animation-iteration-count: infinite;
       text-decoration: none;
       font-weight: bold;
    }
    
    .hover_button_classroom:hover span {
        position: absolute;
        display: block;
    }
    .hover_button_classroom:hover span:nth-child(1) {
        filter: hue-rotate(0deg);
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(90deg, transparent, #3a86ff);
        animation: animate1 1s linear infinite;
    }
    @keyframes animate1 {
        0% {
            left: -100%;
       }
        50%, 100% {
            left: 100%;
       }
    }
    .hover_button_classroom:hover span:nth-child(2) {
        filter: hue-rotate(60deg);
        top: -100%;
        right: 0;
        width: 6px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #3a86ff);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
    }
    @keyframes animate2 {
        0% {
            top: -100%;
       }
        50%, 100% {
            top: 100%;
       }
    }
    .hover_button_classroom:hover span:nth-child(3) {
        filter: hue-rotate(120deg);
        bottom: 0;
        right: 0;
        width: 100%;
        background: linear-gradient(270deg, transparent, #3a86ff);
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
    }
    @keyframes animate3 {
        0% {
            right: -100%;
            height: 5px;
       }
        50%, 100% {
            height: 4px;
            right: 100%;
       }
    }
    .hover_button_classroom:hover span:nth-child(4) {
        filter: hue-rotate(300deg);
        bottom: -100%;
        left: 0;
        width: 4px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #3a86ff);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    @keyframes animate4 {
        0% {
            bottom: -100%;
       }
        50%, 100% {
            bottom: 100%;
       }
    }
    
    .google2{
        width: 1.5vw;
        margin-top: -0.1vw;
    }

    .section_classroom{
        font-size: 1.1vw;
        color: purple;
    }

    @media screen and (max-width: 600px) {
            .neumorphic {
                box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.5),-6px -6px 12px 0 rgba(255, 255, 255, 0.15);
                overflow: hidden;
                padding: 1vw 6vw 1.6vw 6vw;
              }
            
              .neumorphic:hover {
                box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.5),inset -3px -3px 5px 0 rgba(255, 255, 255, 0.15);
              }
            
              .variation span {
                padding-bottom: 1vw;
                font-size: 3vw;
              }
            
              .variation span::after {
                height: 0.5vw;
              }
            
            .card{
                margin: 6vw 0 0 0;
                padding: 2vw;
            }
            
            .card_classroom_complete{
                grid-template-columns: 1fr;
            }
            
            .google2{
                width: 3vw;
                margin-top: -0.2vw;
            }
            
            .hover_button_classroom {
                padding: 1vw 6vw 1vw 6vw;
                background: rgba(255, 255, 255, 0.75);
                font-size: 3.5vw;
            }
            
            .hover_button_classroom:hover {
               font-size: 4vw;
            }
            
            .name_classroom{
                font-size: 6vw;
            }

            .section_classroom{
                font-size: 3.5vw;
                color: purple;
            }
    }