@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.contact2 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #8d97ad;
  padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
  background-image: url("./images/map.png");
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.contact2 .btn-danger-gradiant {
  background: #ffcc2f;
  background: -webkit-linear-gradient(legacy-direction(to right), #ffcc2f 0%, #ef5734 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ffcc2f), to(#ef5734));
  background: -webkit-linear-gradient(left, #ffcc2f 0%, #ef5734 100%);
  background: -o-linear-gradient(left, #ffcc2f 0%, #ef5734 100%);
  background: linear-gradient(to right, #ffcc2f 0%, #ef5734 100%);
}

 .contact2 .btn-danger-gradiant:hover {
  background: #ef5734;
  background: -webkit-linear-gradient(legacy-direction(to right), #ef5734 0%, #ffcc2f 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ef5734), to(#ffcc2f));
  background: -webkit-linear-gradient(left, #ef5734 0%, #ffcc2f 100%);
  background: -o-linear-gradient(left, #ef5734 0%, #ffcc2f 100%);
  background: linear-gradient(to right, #ef5734 0%, #ffcc2f 100%);
}

.bg-image{
    background-image: url("./images/black.jpg");
}

.card-contact{
    background-color: #fff;
}

.fa_contact{
    margin-right: 0.1vw;
}