@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');


.bg_contest{
    padding: 0.1vw 10vw 2vw 10vw;
    background-image: linear-gradient(280deg, #ef5734 0%, #f6c412 75%);
    text-align: center;
}

.card_contest_complete{
  display: grid;
  grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    padding-bottom: 2vw;
}

.flip_button{
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 50px;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.flip_button a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}
.flip_button a:before,
.flip_button a:after{
  position: absolute;
  content: "VISIT";
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.flip_button a:before{
  color: white;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 80%);
  transform: rotateY(0deg) translateZ(25px);
}
.flip_button a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.flip_button a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.card_contest{
  background: rgba( 255, 255, 255, 0.3 );
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin: 3vw 0 2vw 0;
        padding: 1vw;
}

.Clock{
  width: 20px;
  margin-top: -0.3vw;
}

.Hourglass{
  width: 22px;
  margin-top: -0.3vw;
}

.contest_website{
  color: green;
}

.contest_url{
  text-decoration: none;
  color: rgb(78, 78, 78);
}

.contest_url:hover{
  text-decoration: none;
  color: green;
}

.custom-btn-nav {
  border: 0.1vw solid rgb(0, 56, 0);
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 0.5vw;
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.33);
}

.btn-nav {
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 80%);
  padding: 0;
  border: none;
  width: 8vw;
  height: 2.75vw;
  font-size: 1.3vw;
}
.btn-nav:hover {
  background: transparent;
  color: #000;
   box-shadow: none;
}
.btn-nav:before,
.btn-nav:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:4px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.btn-nav:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-nav:hover:before,
.btn-nav:hover:after{
  width:100%;
  transition:800ms ease all;
}

.pagination{
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  gap: 33.5vw;
}

.date{
  text-align: center;
  margin-right: 8.5vw;
  margin-left: 8.5vw;
  border-radius: 1vw;
  padding: 0.25vw;
  border-radius: 20px;
  background: white;
}

.Status{
  color: red;
}