@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar{
    display: flex;
    padding-right: 50px;
    background-image: url(../src/images/navbar.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.logo {
    background: #006000;
border: 5px solid #006000;
box-sizing: border-box;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 5px 20px;
margin-left: 30px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
margin-top: -10px;
}


.right_buttons{
background: transparent;
border: 3px solid #000000;
box-sizing: border-box;
border-radius: 15px;
padding: 2px 10px;
margin-right: 20px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-align: center;
color: #000000;
}

.right_buttons:hover {
    border: 3px solid #006e00;
    color: #006e00;
    text-decoration: none;
}

.icon{
    width: 28px;
}

.triangle_down {
    width: 20px;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(49, 49, 49);
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
  }
  
  .dropdown-content a {
    float: none;
    color: #F7C101;
    padding: 7px 15px 7px 15px ;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: black;
    color: rgb(0, 255, 0);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

.menu_active {
  background: #5B5B5B;
  border: 3px solid #5B5B5B;
  padding: 2px 10px;
  width: auto;
  height: auto;
  color: whitesmoke;
  font-weight: 600;
}

.menu_active:hover {
  border: 3px solid #000000;
    color: #ffc800;
    text-decoration: none;
}

@media only screen and (max-width: 600px){
  .navbar{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    justify-content: center;
}

.logo {
display: none;
}

.right_buttons{
padding: 0px;
margin-right: 7px;
font-size: 14px;
border: none;
}

.right_buttons:hover {
  border: none;
}

.icon{
    width: 18px;
    margin-bottom: 1px;
}

.triangle_down {
    width: 14px;
    margin-bottom: 0px;
}
  
  .dropdown-content {
    min-width: 60px;
    font-size: 11px;
  }
  
  .dropdown-content a {
    padding: 3px 7px 3px 7px ;
  }

.menu_active {
  padding: 0px;
  border: none;
  background-color: transparent;
  color: green;
  border-bottom: 2px solid green;
  border-radius: 0%;
}

.menu_active:hover {
  border: none;
  color: green;
  border-bottom: 2px solid green;
  border-radius: 0%;
}
}



@media only screen and (max-width: 360px){
  .navbar{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    justify-content: center;
}

.logo {
display: none;
}

.right_buttons{
padding: 0px;
margin-right: 7px;
font-size: 11px;
border: none;
}

.right_buttons:hover {
  border: none;
}

.icon{
    width: 14px;
    margin-bottom: 0px;
}

.triangle_down {
    width: 10px;
    margin-bottom: 0px;
}
  
  .dropdown-content {
    min-width: 45px;
    font-size: 9px;
  }
  
  .dropdown-content a {
    padding: 3px 7px 3px 7px ;
  }

.menu_active {
  padding: 0px;
  border: none;
  background-color: transparent;
  color: green;
  border-bottom: 2px solid green;
  border-radius: 0%;
}

.menu_active:hover {
  border: none;
  color: green;
  border-bottom: 2px solid green;
  border-radius: 0%;
}
}


@media only screen and (max-height: 600px){
  .navbar{
    display: flex;
    padding-right: 40px;
}

.logo {
padding: 3px 10px;
margin-left: 10px;
font-size: 16px;
margin-top: 0px;
}


.right_buttons{
padding: 1px 7px;
margin-right: 10px;
font-size: 13px;
}

.icon{
  width: 21px;
}

.triangle_down {
  width: 15px;
}
  
  .dropdown-content {
    min-width: 45px;
    font-size: 12px;
  }
  
  .dropdown-content a {
    padding: 5px 10px 5px 10px ;
  }
}

