.pagination2 {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  gap: 10vw;
  margin-top: 2vw;
}

.search-input {
  width: 70vw;
  padding: 0.5vw 2vw;
  border: none;
  border-radius: 2vw;
}

.search-form {
  margin-top: 3vw;
}

@media screen and (max-width: 600px) {
  .search-input {
    padding: 0;
    border-radius: 4vw;
  }

  .pagination2 {
    gap: 5vw;
  }
}
